[build]
target = "wasm32-unknown-unknown"
rustflags = ["-Cdebuginfo=0", "-Cstrip=symbols"]

[profile.release]
opt-level = "z"
debug = false
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
incremental = false
